

<%= render "shared/header" %>
<div class="container">
<%= render "shared/leftbar" %>

	<div class="col-md-9 bann-right" id="right">
        <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
			<li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
		</ol>
		<!-- banner -->
		<!-- nam-matis -->
		<div class="nam-matis">
				<div class="nam-matis-top">
					<% @posts.each do |post| %>
						<div class="col-md-6 nam-matis-1">
							<a href="javascript:"><img src="<%= post.thumbnail %>" class="img-responsive" alt=""></a>
							<h3><%= link_to post.title, post_path(post.slug) %></h3>
							<p class="info"><%= post.fullname %> - <%= post.created_at.strftime("%d/%m/%Y") %> - Lượt xem: <%= post.view %></p>
							<p><%= truncate(post.content, :length => 20) %>	</p>
						</div>

					<% end %>
						<div class="clearfix"> </div>
				</div>
		</div>
		<!-- nam-matis -->
	</div>
		<div class="fle-xsel">
			<ul id="flexiselDemo3">
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/6.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/5.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/1.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/4.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/6.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/1.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>
			</ul>

			<div class="clearfix"> </div>				
	</div>

	<%= render "shared/footer" %>
