<%= render "shared/header" %>
<div class="container">
    <%= render "shared/left-dashboard" %>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:">Quản lý bài viết</a></li>
                <li class="breadcrumb-item"><a href="/post/new">Tạo bài viết mới</a></li>
            </ol>
            <h2>Sửa bài viết</h2>
            <%= form_with scope: :post,model: @post do |f| %>
                <fieldset>
                    <div class="form-group">
                        <label>Title</label>
                        <br>
                        <%= f.text_field :title, class: "form-control", :value => @post.title%>
                            <div id="title-alert"></div>
                    </div>
                    <div class="form-group">
                        <label>Thumbnail</label>
                        <br>
                        <% if @post.thumbnail%>
                            <img src="<%=@post.thumbnail%>" class="img-responsive" alt="" width="300px" height="auto">
                        <%else%>
                        <%= f.file_field :thumbnail, class: "form-control",id: "thumbnail"%>
                        <%end%>
                        
                        <div id="thumbnail-alert"></div>

                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <br>
                        <div id="compose">
                        <%= f.text_area :content, style: "display: none;", value: @post.content%>
                            <div id="content-alert"></div>
                        </div>
                    </div>

                    <!-- Change this to a button or input when using this as a form -->
                    <input type="submit" class="btn btn-primary" id="post" name="btnLogin" value="Submit">
                </fieldset>
                <%end%>
                <% if @post.errors.any? %>
                <div class="alert alert-danger">
                    
                        <% @post.errors.full_messages.each do |message| %>
                        <p><%= message %></p>
                        <% end %>
                <% end %>
        </div>
        
</div>
<%= render "shared/footer" %>