<%= render "shared/header" %>
<!-- content -->
<div class="container">
<div class="content-top">
	<%= render "shared/leftbar" %>
			<div class="single">
				<div class="single-top">
					
					<div class="thread-cover-container">
						<img src="<%=@post.thumbnail%>" class="img-responsive" alt="">
						<div class="bg">
							<h1 class="title"><%=@post.title%></h1>
						</div>
						
					</div>
					<div id="read">
						<textarea style="display:none;"><%= @post.content %></textarea>
					</div>
					
						<div class="artical-links">
		  						 	<ul>
		  						 		<li><small> </small><span><%= @post.created_at.strftime("%d/%m/%Y %H:%M") %></span></li>
		  						 		<li><a href="#"><small class="admin"> </small><span><%= @user.fullname %> </span></a></li>
		  						 		<li><a href="#"><small class="no"> </small><span>0 bình luận</span></a></li>
		  						 		<li><a href="#"><small class="link"> </small><span>Lượt xem: <%= @post.view %> </span></a></li>
		  						 	</ul>
		  						 </div>
						<div class="respon">
							<h2>Danh sách bình luận</h2>
							<% @comments.each do |cmt| %>
							<div class="strator">
								<h5><%=cmt.fullname%></h5>
								<p><%= cmt.created_at.strftime("%d/%m/%Y %H:%M") %></p>
									<div class="strator-right">
										<p class="sin"><%=cmt.content%></p>
									</div>
								<div class="clearfix"></div>
							</div>
							<%end%>
							<div class="comment">
								<h2>Bình luận</h2>
								<%= form_with scope: :comment,url: comment_post_path do |f| %>
								<%= f.text_area :content, class: "form-control" , placeholder: "Vui lòng nhập bình luận", rows: "4" %>
								<input type="submit" class="btn btn-primary" id="post" name="btnLogin" value="Bình luận">
								 <%end%>
							</div>
						</div>
				</div>
			
				<div class="clearfix"> </div>
			</div>
</div>
<!-- content -->
<%= render "shared/footer" %>